<div class="ownerBtn">

<a class="btn btn-light" href="/new">Join Us! </a>

<div class="owner">
<a class="btn btn-light" href="/owners">Meet the owners! </a>
<a href="https://imgur.com/iOXThRA"><img src="https://i.imgur.com/iOXThRA.jpg" title="source: imgur.com" class="placeholderImg"/></a>
</div>

<div class="pets">
<a class="btn btn-light" href="/pets">Meet fellow fury friends! </a>
<a href="https://imgur.com/q7qNnyh"><img src="https://i.imgur.com/q7qNnyh.jpg?1" title="source: imgur.com" class="placeholderImg" /></a>
</div>

<div class="restaurant">
<a class="btn btn-light" href="/restaurants">Find a place to tag along! </a>
<a href="https://imgur.com/Ob1Q41h"><img src="https://i.imgur.com/Ob1Q41h.jpg?2" title="source: imgur.com" class="placeholderImg"/></a>

</div>    
    
</div>