<form action="/owners" method="POST" class="newOwner">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="age">Age</label>
        <input type="number" min="0" max="100" name="age" id="age">
    </div>
    <div>
        <label for="city">City</label>
        <input type="text" name="city" id="city">
    </div>
    <div>
        <label for="handle">Social Media Handle</label>
        <input type="text" name="handle" id="handle">
    </div>
    <div>
        <label for="image">Image Link</label>
        <input type="text" name="imgLink" id="imgLink">
    </div>
    <input type="submit" value="Submit">
</form>