<a class="btn btn-light" href="/pets/new">+ Add Pet</a>
<br>

<div align="center" class="allPets">
{{#each pets}}
        <div class="row review">
            <div class="col-sm-4">
                <img class="each-img" src="{{imgLink}}" height="175" width="175">
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>
                            <a href="/pets/{{id}}" style="color:white;">{{name}}</a>
                        </h4>

                        <h4 style="color:white;">{{city}}</h4>
                    </div>
            
                </div>
            </div>
        </div>
    {{/each}}
</div>