<div align="center">
<form action="/pets" method="POST" class="newPet">
    <div>
        <label for="name">Name</label>
        <br>
        <input type="text" name="name" id="name" required="true">
    </div>
    <div>
        <label for="age">Age</label>
        <br>
        <input type="text" name="age" id="age" required="true">
    </div>
    <div>
        <label for="city">City, State</label>
        <br>
        <input type="text" name="city" id="city" required="true">
    </div>
    <div>
        <label for="breed">Breed</label>
        <br>
        <input type="text" name="breed" id="breed">
    </div>
    <div>
        <label for="favHobby">Favorite Hobby</label>
        <br>
        <input type="text" name="favHobby" id="favHobby">
    </div>
    <div>
        <label for="ownerName">Owner Name</label>
        <br>
        <input type="text" name="ownerName" id="ownerName">
    </div>
    <div>
        <label for="image">Image Link</label>
        <br>
        <input type="text" name="imgLink" id="imgLink">
    </div>
    <br>
    <input type="submit" value="Submit">
</form>
</div>