.newOwner {
    padding: 50px;
    margin: 50px;
    text-align: center;
}

.homeBtn {
    text-align: center;
    color: black;
}

.ownerBtn {
    text-align: center;
    padding: 100px 100px 100px 100px;
}