.newOwner,
.newRestaurant,
.editOwner, .editRestaurant, .newPet, .editPet {
    padding: 10px;
    margin: 30px;
    color: white;
    font-size: 20px;
}

.homeBtn {
    text-align: center;
    color: white;
    font-family: 'Indie Flower', cursive;
}

.ownerBtn {
    text-align: center;
    padding: 100px 100px 100px 100px;
}

.placeholderImg {
    border-radius: 50%;
    padding: 30px;
}

body {
    background-color: #49db00;
    background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
}

.allOwners, .allRestaurants {
    padding: 100px;
}

.review-img {
    border-radius: 30%;
}

.img-banner {
    border-radius: 30%;
}
