.newOwner,
.newRestaurant,
.editOwner,
.editRestaurant,
.newPet,
.editPet {
    padding: 10px;
    margin: 30px;
    color: white;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.homeBtn {
    text-align: center;
    color: white;
    font-family: 'Indie Flower', cursive;
}

.ownerBtn {
    text-align: center;
    padding: 50px;
}

.placeholderImg {
    border-radius: 50%;
    padding: 30px;
}

body {
    background-color: #49db00;
    background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
}

.allOwners,
.allRestaurants,
.allPets {
    padding: 100px;
    font-family: 'Anton', sans-serif;
}

.each-img,
.img-banner {
    border-radius: 30%;
}