<a class="btn btn-light" href="/restaurants/new">+ Add Restaurant</a>

<div align="center">
{{#each restaurants}}

<h4>
<a href="/restaurants/{{_id}}" style="color:white;">{{name}}, {{address}}</a>
</h4>

{{/each}}
</div>