<a class="btn btn-light" href="/restaurants/new">+ Add Restaurant</a>

<div align="center" class="allRestaurants">
{{#each restaurants}}
        <div class="row review">
            <div class="col-sm-4">
                <img class="review-img" src="{{imgLink}}" height="150" width="150">
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>
                            <a href="/restaurants/{{id}}" style="color:white;">{{name}}</a>
                        </h4>

                        <h4 style="color:white;">{{address}}</h4>

                    </div>
            
                </div>
            </div>
        </div>
    {{/each}}
</div>