<div align="center">
<form action="/restaurants" method="POST" class="newRestaurant">
    <div>
        <label for="name">Name</label>
        <br>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="address">Address</label>
        <br>
        <input type="text" name="address" id="address">
    </div>
    <div>
        <label for="rating">Rating</label>
        <br>
        <input type="number" name="rating" id="rating">
    </div>
    <div>
        <label for="patio">Patio?</label>
        <br>
        <input type="patio" name="patio" id="patio">
    </div>
    <div>
        <label for="image">Image Link</label>
        <br>
        <input type="text" name="imgLink" id="imgLink">
    </div>
    <br>
    <input type="submit" value="Submit">
</form>
</div>